VITE_EIA_API_KEY=your-eia-api-key-here
Za d3-geo imam white page ne renderuje app. Ovo je greska
# Uncaught SyntaxError: The requested module 'http://localhost:5173/node_modules/.vite/deps/d3-zoom.js?v=8f163667' doesn't provide an export named: 'select'
